body {
	background-color: rgba(52,179,255,0.22);
	color: rgba(206,239,255,0.75);
	justify-content: center;
	font-family: Roboto Condensed;
}

img {
	justify-content: center;
	width: 70%;
	border: 5px solid white;
}

div {
	background-color: rgba(0,86,158,0.75);
}

p {
	width: 70%;
}